@import "./Common/header.css";

body {
    font-family: 'Noto Sans TC', sans-serif;
}
 .nav_list li:nth-child(3){
background-color: #b02914;
  
}
div.BG{
  margin: 0 auto;
  width: 1440px;
  height: 3700px;
  background: linear-gradient(180deg, #BDCFFE 0.48%, #99A4E2 0.49%, #8085CF 19.27%, #3E369C 41.67%, #00589D 81.77%)/* border: 10px solid seagreen; */
}
div.frame{
  background-image: url("../首頁/asset/images/g-nav-frame-center.png");
  background-repeat: no-repeat;
  width:1440px;
  height: 55px;
  position:fixed;
  transform: translatex(-50%);
  background-size: contain;
  left: 50%;

}
h1.ifo_bar{
  background-color: rgba(189, 207, 254, 1);
  width: 1314px;
  height: 102px;
  padding: 0 10px;
  margin: 3 0px;
   border-radius: 0px 21px 21px 0px;
   position:absolute;
   top:180px;

  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 92px;
  align-items: center;
  -webkit-text-stroke: 2px black;
  display: flex;
  justify-content:space-between;
  text-align: center;
  color: white;
  
  }

h1.ifo_bar >a{
  color:white;
  -webkit-text-stroke: 2px black;
  text-decoration: none;
}

 div.main_container{

  margin: 0 auto;
  position: relative;
  z-index: 2;
  max-width: 1440px;
  height: 3700px;
  /* border: 20px solid red; */

}
h1.slogan{
position: absolute;
width: 849px;
height: 218px;
left: 389px;
top: 395px;

font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 109px;
display: flex;
align-items: center;

color: #FFFFFF;
}
div.logo{
  background-image: url("../首頁/asset/images/Logo/Logo2.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 493.97px;
  height: 297.24px;
  left: 72px;
  top: 804px;
  background-size: contain;
}
div.logo_2{
  background-image: url("../首頁/asset/images/Logo/Group\ 12.svg");
  background-repeat: no-repeat;
  background-color: #FFE5EC;
  width: 493px;
  height: 193px;
  position: absolute;
  border-radius: 33px;
  left: 85px;
  top: 1211px;
  background-size: contain;
  z-index: 2;

}
div.logo_3{
  background-image: url("../首頁/asset/images/Logo/Group\ 15.svg");
  background-repeat: no-repeat;
  background-color: #FFE5EC;
  position: absolute;
  width: 493px;
  height: 170px;
  left: 79px;
  top: 1461px;
  border-radius: 33px;

  background-size: contain;
  z-index: 2;
}
h1.title{
position: absolute;
width: 1144.11px;
height: 212.29px;
left: 620px;
top: 735px;

font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 109px;
display: flex;
align-items: center;
text-align: center;

color: #24FEFF;

-webkit-text-stroke: 2px black;
}  
p.story{
 position: absolute;
width: 540px;
height: 169px;
left: 718px;
top: 1163px;

font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
display: flex;
align-items: center;

color: #FFFFFF;
}
div.brand{
position: absolute;
width: 1158px;
height: 693px;
left: 157px;
top: 1726px;

background-color: #FFE5EC;
border-radius: 107px;
}
h1.brand_title{
position: absolute;
width: 272px;
height: 93px;
transform: translatex(-50%);
left: 50%;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 68px;
line-height: 93px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}
div.brand >p{
position: absolute;
width: 900px;
height: 441px;
transform: translatex(-50%);
left: 50%;
top: 100px;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
display: flex;
align-items: center;

color: #000000;
}

form.form{
position: absolute;

width: 1158px;
height: 650px;
left: 163px;
top: 2621px;
vertical-align: middle;
background: #FFE5EC;
border-radius: 107px;
}
form.form >h1{
  position: absolute;
  transform: translatex(-50%);
  left: 50%;
}
.line{
  background-image: url(../商城/asset/Line\ 6.svg);
  background-color: #15047C;
  background-repeat: no-repeat;
  width: 548px;
  height: 0px;
  position: absolute;
  left:50%;
  transform: translatex(-50%);
  
  top: 100px;

  border: 5px solid #15047C;
}
div.email {
  position: absolute;
  padding: 2px;
 
  left: 350px;
  top:150px;
}

.time{
  padding: 2px;
  position: absolute;
  padding: 2px;
  top:180px;
  left:290px;
}

div.notes{
  padding: 2px;
  position: absolute;
  left:330px;
  top:210px;
}
button.btn{
width: 218px;
height: 67px;

position: absolute;
right: 0;

background: #D84618;
border-radius: 13px;

font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
/* identical to box height */

align-items: center;
text-align: center;

color: #FFFFFF;

}
h1.ifo{
  position: absolute;
  left: 640px;
  bottom: 0;
  margin: 30px ;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 92px;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 2px black;

  text-align: center;
  color: #24FEFF;
  
  }

footer{
  background-color: black;
  color: white;
   text-align: center;
   vertical-align: middle;
  padding: 20px;
  width: 1440px;
  margin: 0 auto;
  height: 200px;
  }
  

section.footer_bg{
 background: #E6FEE4;
 width:1440px;
height: 150px;
margin: 0 auto;
position: absolute;
bottom:0;
}

.social{
    background-image: url(../首頁/asset/images/Social\ Media.svg);
    background-repeat: no-repeat;
              
    position: absolute;
      width: 600px;
      height: 72px;
      right: 0;
      bottom: 0;
      margin: 35px;
      } 
    .logo3{
     background-image: url(../首頁/asset/images/Logo/logo3.svg);
     background-repeat: no-repeat;
     width: 264px;
     height: 50px;
    margin: 0 auto;
            }