@import "./Common/header.css";

*{
  box-sizing: border-box;
}
body{
  margin: 0 ;
  font-family: 'Noto Sans TC', sans-serif;

}
.nav_list li:nth-child(2){
  background-color: #b02914;
}
main{
  position: relative;
  padding-top: 120px;
}

div.title{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.title h1{
  font-size: 68px;;
  color:#FFCB08;
  font-weight: bold;
  text-shadow: 5px 10px #15047C;  
}
div.title img{
width:799px ;
height: 163px;
}
img.logo2{
  width:655px;
  height: 1022px;
}


div.event_block1{
background-image: url("../Story/bg1.png");
background-repeat: no-repeat;
background-position: top;
width: 1440px;
position: relative;
flex-direction: column;
display: flex;
flex-grow: 1;
left: 50%;
transform: translateX(-50%);
margin-top: 80px;
}
div.event_block1 h1{
  font-size: 68px;
  padding-left: 50px;
  color: white;
}
div.event_block1 h1::first-line{
  text-decoration: underline;

}
div.event_block1 p{
  padding-left: 50px;
  font-size: 36px;
  margin: 0;
  color: white;
}
div.event_block2{
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  width: 1440px;
}

div.event_block2 img{
  position: absolute;
  transform: rotate(-4.14deg);
}

div.event_block2 h1{
  font-size: 68px;
  padding-left: 50px;
  color: white;
}
div.event_block2 h1::first-line{
  text-decoration: underline;

}


  margin: 0;
  min-height: 100vh;
  background: #000;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);
}
.container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 75vmin;
  position: relative;
}
.container .card .card__head {
  color: black;
  background: rgba(255, 30, 173, 0.75);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}
.container .card:hover {
  flex-grow: 10;
}
.container .card:hover img {
  filter: grayscale(0);
}
.container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.container .card:not(:nth-child(5)) {
  margin-right: 1em;
}



/* more ifo */
div.more_info{
  position: relative;
   background: #E6FEE4;
   width: 100%;  
   margin: 0 auto;
   bottom:0;
     }
h1.ifo{
position: relative;
margin: 0;
font-weight: bold;
font-size: 36px;
line-height: 92px;
align-items: center;
-webkit-text-stroke: 1px black;
text-align: center;
color: #24FEFF;
          
  }

/* social media */



*:focus,
*:active {
outline: none !important;
-webkit-tap-highlight-color: transparent;
}



.wrapper {
display: inline-flex;
align-items: center;
position: relative;
left: 50%; 
transform: translateX(-50%);
}

.wrapper .icon {
position: relative;
background-color: #ffffff;
border-radius: 50%;
padding: 15px;
margin: 10px;
width: 50px;
height: 50px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
position: absolute;
top: 0;
font-size: 14px;
background-color: #ffffff;
color: #ffffff;
padding: 5px 8px;
border-radius: 5px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 8px;
width: 8px;
background-color: #ffffff;
bottom: -3px;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
background-color: #3b5999;
color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
background-color: #46c1f6;
color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background-color: #e1306c;
color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background-color: #333333;
color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
background-color: #de463b;
color: #ffffff;
}



footer{
margin: 0 auto;
position: relative;
background-color: black;
color: white;
text-align: center;
padding: 20px;
width: 100%;  
margin: 0 auto;
}


.logo3{
background-image: url("../Home/asset/Logo/logo3.svg");
background-repeat: no-repeat;
width: 264px;
height: 50px;     
margin: 0 auto;
}

