@import "./Common/Header2.css";
body {
    font-family: 'Noto Sans TC', sans-serif;

}
div.BG{
  margin: 0 auto;
  width: 1440px;
  height: 5300px;
  background: rgba(0, 88, 157, 1);
/* border: 10px solid seagreen; */
}
div.frame{
  background-image: url("../首頁/asset/images/g-nav-frame-center.png");
  background-repeat: no-repeat;
  width:1440px;
  height: 55px;
  position:fixed;
  transform: translatex(-50%);
  background-size: contain;
  left: 50%;

}
 div.main_container{

  margin: 0 auto;
  position: relative;
  z-index: 2;
  max-width: 1440px;
  height: 5500px;
  /* border: 20px solid red; */

}
h1.ifo_bar{
    background-color: rgba(189, 207, 254, 1);
    width: 1314px;
    height: 102px;
    padding: 0 10px;
    margin: 3 0px;
    border-radius: 0px 21px 21px 0px;
  position: absolute;
  top:200px;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 92px;
    align-items: center;
    -webkit-text-stroke: 2px black;
    display: flex;
    justify-content:space-between;
    text-align: center;
    color: white;
    
    }
    h1.ifo_bar >a{
        color:white;
        -webkit-text-stroke: 2px black;
        text-decoration: none;;
      }
      
       

.main_container input:hover {
  position: absolute;
  height: 10px;
  left:10px;
  right: 10px;
  bottom: 0;
  background-color: #fff;
  transition: 5s;
}

/* 可瑞特 */
section.creator{
  /* border: 1px solid red; */
  margin: 0 auto;
  position: absolute;
  top: 420px;
    /* background-color: #BDCFFE; */
  z-index: 5;
  width: 1440px;
  height: 642px;
}
h1.name1 {
position:absolute;
left: 140px;
font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 92px;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 2px white;

  text-align: center;
  color: rgba(21, 4, 124, 1);

  }

  div.craetor_block{
    /* border:1px solid black; */
  
    height:642px;
    width: 1440px;
    position: absolute;
    top:0px;
    left: 0px;
    display: flex;
   }
div.aside{
  /* border: 1px solid red; */
  margin-right: 32px;
  color: white;
  width: 530px;
  height: 642px;
  flex-shrink: 0;
  background-color: #BDCFFE;

}
div.c_right{
  /* border: 1px solid blue;  */
  flex-grow: 1;
  width: 878px;
  height: 642px;
  color: white;
  background-color: #BDCFFE;

}
div.c_right > p{
position: absolute;
width: 464.14px;
height: 294px;
top: 40px;
right: 360px;

font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
display: flex;
align-items: center;

color: #000000;

}
.creator_logo{
background-image: url("../Story/Creator2.svg");
background-repeat: no-repeat;
position: absolute;
width: 364px;
height: 568px;
left: 1063px;
top: 50px;
}

/* 間隔20px */
/* 麵師傅 */
section.ramen{
    border: 1px solid red;
    margin: 0 auto;
    position: absolute;
    top: 1082px;
    z-index: 5;
    width: 1440px;
    height: 642px;
  }
  h1.name2 {
  position:absolute;
  left: 140px;
  font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 92px;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px white;
  
    text-align: center;
    color:red;
  
    }
  
    div.ramen_block{
      border:1px solid black;
    
      height:642px;
      width: 1440px;
      position: absolute;
      top:0px;
      left: 0px;
      display: flex;
     }
  div.aside2{
    border: 1px solid red;
    margin-right: 32px;
    color: white;
    width: 530px;
    height: 642px;
    flex-shrink: 0;
    background-color: #BDCFFE;

  }
  div.r_right{
    border: 1px solid blue; 
    flex-grow: 1;
    width: 878px;
    height: 642px;
    color: white;
    background-color:#CB412B;

  }
  div.r_right > p{
  position: absolute;
  width: 464.14px;
  height: 294px;
  top: 40px;
  right: 360px;
  
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  
  color:white;
  
  }
  .ramen_logo{
  background-image: url("../Story/麵師傅.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 364px;
  height: 568px;
  left: 1063px;
  top: 50px;
  }

  /* FUSE MAN雷電人 */
  section.FUSEMAN{
    border: 1px solid red;
    margin: 0 auto;
    position: absolute;
    top: 1744px;
    z-index: 5;
    width: 1440px;
    height: 642px;
  }
  h1.name3 {
  position:absolute;
  left: 140px;
  font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 92px;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px black;
  
    text-align: center;
    color:#D7E04F;
  
    }
  
    div.FUSEMAN_block{
      border:1px solid black;
    
      height:642px;
      width: 1440px;
      position: absolute;
      top:0px;
      left: 0px;
      display: flex;
     }
  div.aside3{
    border: 1px solid red;
    margin-right: 32px;
    color: white;
    width: 530px;
    height: 642px;
    flex-shrink: 0;
    background-color: #BDCFFE;

  }
  div.F_right{
    border: 1px solid blue; 
    flex-grow: 1;
    width: 878px;
    height: 642px;
    color: white;
    background-color: #D7E04F;

  }
  div.F_right > p{
  position: absolute;
  width: 464.14px;
  height: 294px;
  top: 40px;
  right: 360px;
  
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
  }
  .FUSEMAN_logo{
  background-image: url("../Story/雷電人.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 364px;
  height: 568px;
  left: 1063px;
  top: 50px;
  }

  /* Sleepy MAN沈睡鳥人 */
  section.SleepyMAN{
    border: 1px solid red;
    margin: 0 auto;
    position: absolute;
    top: 2406px;
    z-index: 5;
    width: 1440px;
    height: 642px;
  }
  h1.name4 {
  position:absolute;
  left: 140px;
  font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 92px;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px white;
  
    text-align: center;
    color:#8276C0;
  
    }
  
    div.SleepyMAN_block{
      border:1px solid black;
    
      height:642px;
      width: 1440px;
      position: absolute;
      top:0px;
      left: 0px;
      display: flex;
     }
  div.aside4{
    border: 1px solid red;
    margin-right: 32px;
    color: white;
    width: 530px;
    height: 642px;
    flex-shrink: 0;
    background-color: #BDCFFE;

  }
  div.S_right{
    border: 1px solid blue; 
    flex-grow: 1;
    width: 878px;
    height: 642px;
    color: white;
    background-color:#8276C0;

  }
  div.S_right > p{
  position: absolute;
  width: 464.14px;
  height: 294px;
  top: 40px;
  right: 360px;
  
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  
  color: white;
  
  }
  .SleepyMAN_logo{
  background-image: url("../Story/沈睡鳥人.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 364px;
  height: 568px;
  left: 1063px;
  top: 50px;
  }

  /* SharkMAN鯊魚人 */
  section.SharkMAN{
    border: 1px solid red;
    margin: 0 auto;
    position: absolute;
    top: 3068px;
    z-index: 5;
    width: 1440px;
    height: 642px;
  }
  h1.name5 {
  position:absolute;
  left: 140px;
  font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 92px;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px black;
  
    text-align: center;
    color:#ABBFFF;
  
    }
  
    div.SharkMAN_block{
      border:1px solid black;
    
      height:642px;
      width: 1440px;
      position: absolute;
      top:0px;
      left: 0px;
      display: flex;
     }
  div.aside5{
    border: 1px solid red;
    margin-right: 32px;
    color: white;
    width: 530px;
    height: 642px;
    flex-shrink: 0;
    background-color: #BDCFFE;

  }
  div.ss_right{
    border: 1px solid blue; 
    flex-grow: 1;
    width: 878px;
    height: 642px;
    color: white;
    background-color: #BDCFFE;

  }
  div.ss_right > p{
  position: absolute;
  width: 464.14px;
  height: 294px;
  top: 40px;
  right: 360px;
  
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
  }
  .SharkMAN_logo{
  background-image: url("../Story/鯊魚人.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 364px;
  height: 568px;
  left: 1063px;
  top: 50px;
  }
    section.footer_bg{
      /* border: 10px solid purple; */
      background: #E6FEE4;
      width:1440px;
      height: 300px;
      margin: 0 auto;
      position: absolute;
      bottom:0;
    }
    h1.ifo{
      position: absolute;
      left: 640px;
      top: 50px;
      margin: 0 auto;
      font-style: normal;
      font-weight: bold;
      font-size: 68px;
      line-height: 92px;
      display: flex;
      align-items: center;
      -webkit-text-stroke: 2px black;
    
      text-align: center;
      color: #24FEFF;
      
      }
    footer{
      background-color: black;
      color: white;
      text-align: center;
      vertical-align: middle;
      padding: 20px;
      width: 1440px;
      margin: 0 auto;
      height: 200px;
    }

  .logo3{
    background-image: url(../首頁/asset/images/Logo/logo3.svg);
    background-repeat: no-repeat;
    width: 264px;
    height: 50px;
    margin: 0 auto;
  }
 .social{
  background-image: url(../首頁/asset/images/Social\ Media.svg);
  background-repeat: no-repeat;

  position: absolute;
  width: 600px;
  height: 72px;
  left: 705px;
  bottom: 0;
 }