@import "./Common/header.css";

*{
    box-sizing: border-box;
  }
  body{
    margin: 0 ;
    font-family: 'Noto Sans TC', sans-serif;

}
.nav_list li:nth-child(4){
  background-color: #b02914;
}
div.BG{
  margin: 0 auto;
  width: 1440px;
  height: 3500px;
  background: rgba(0, 88, 157, 1);
/* border: 10px solid seagreen; */
}

/* html{
  width: 1440px;
  height: 5300px;
  background: rgba(0, 88, 157, 1);
} */

div.frame{
  background-image: url("../首頁/asset/images/g-nav-frame-center.png");
  background-repeat: no-repeat;
  width:1440px;
  height: 55px;
  position:fixed;
  transform: translatex(-50%);
  background-size: contain;
  left: 50%;

}
 div.main_container{

  margin: 0 auto;
  position: relative;
  z-index: 2;
  max-width: 1440px;
  height: 3500px;
  /* border: 20px solid red; */

}
/* banner */





.main_container input:hover {
  position: absolute;
  height: 10px;
  left:10px;
  right: 10px;
  bottom: 0;
  background-color: #fff;
  transition: 5s;
}
/* news */
section.play_banner{
  /* border: 1px solid red; */
  margin: 0 auto;
  position: absolute;
  /* background-color: black; */
  width: 1440px;
  height: 1200px;
  top: 170px;
}


h1.ifo_bar{
  background-color: rgba(189, 207, 254, 1);
  width: 1314px;
  height: 102px;
  padding: 0 10px;
  margin: 3 0px;
   border-radius: 0px 21px 21px 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 92px;
  align-items: center;
  -webkit-text-stroke: 2px black;
  display: flex;
  justify-content:space-between;
  text-align: center;
  color: white;
  
  }

h1.ifo_bar >a{
  color:white;
  -webkit-text-stroke: 2px black;
  text-decoration: none;;
}

 
  /* 輪播圖 */
  ul.slides {
  position: relative;
  width: 986px;
  height: 580px;
  left: 50px;
  top: 0px;

  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
  
  li.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 120px;
    color: #fff;
    transition: .5s transform ease-in-out;
  }
  
  .slide:nth-of-type(1) {
    background-image: url("../商城/asset/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .slide:nth-of-type(2) {
    background-image: url("../商城/asset/8FoYKgc.gif");
    background-repeat: no-repeat;
    background-size: cover;   
     left: 100%;
  }
  
  .slide:nth-of-type(3) {
    background-image: url("../商城/asset/widen_2440x0.png");
    background-repeat: no-repeat;
    background-size: cover;   
    left: 200%;
  }
  
  input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
  }
  
  .controls-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
  }
  
  .controls-visible label {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid black;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
    background-color:black;
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
    background-color:black;
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
    background-color:black;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translatex(0%);
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translatex(-100%);
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translatex(-200%);
  }
  
  
  /* Left/Right Button Classes Below */
  
  .navigator {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
  }
  
  .navigator i {
    font-size: 32px;
    color :white;
  }
  
  .slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
    display: flex;
  }
  
  .slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
    display: flex;
  }
  
  .slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
    display: flex;
  }

  /* 側邊欄*/
div.aside{
  /* border: 1px solid red; */
  position: absolute;
  left: 1109px;
  top: 215px;
  height: 905px;
  width: 301px;
color: white;
  background: #15047C;
  border-radius: 32px;
}
div.aside_logo{
  background-image: url("../商城/asset/GameLogo.png");
  width: 301px;
  height: 188.18px;


}
table.tag{
  background-color:rgba(0, 88, 157, 1) ;
  color:white;
  border-collapse :collapse;
  text-align: center;
  position: absolute;
  left: 20px;
}
table td, table th{
  border:3px solid #15047C;;
  padding: 3px;
}

div.price{
width: 873px;
height: 125px;
position: absolute;
left: 50px;
top: 850px;

background: #BDCFFE;
border-radius: 31px;;

}
div.price p:nth-child(1){

font-family: Noto Sans;
font-style: normal;
font-weight:bolder;
font-size: 68px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
color:black;
-webkit-text-stroke:1px white;
padding: 15px;
padding-left: 70px;
margin: 0;
}
div.price p:nth-child(2){
  position: absolute;
  left: 600px;
  bottom: -45px;
  background-color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
}
i.fas.fa-share-square{
  position: absolute;
  right: 280px;
  top: 115px;
  font-size: 50px;
  color: white;
  -webkit-text-stroke: 1px black;


}

i.fab.fa-windows{
  

  width: 100px;
  height: 100px;
  position: absolute;
  right: -10px;
  top:30px;
  font-size: 50px;
  color: white;

  -webkit-text-stroke: 1px black;
}
div.buy input{
position: absolute;
left: 784px;
bottom: -42px;
width: 218px;
height: 67px;
background-color: #D84618;
border-radius: 13px;



font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
/* identical to box height */

align-items: center;
text-align: center;

color: #FFFFFF;

}
/* 關於此遊戲 */
section.describe{
  /* border: 10px solid red; */
  margin: 0 auto;
  width: 1440px;
  height: 590px;
  
  position:absolute;
  height: 980px;
  top: 1370px;
}
h1.title_des {
  position: absolute;
  left: 100px;
  top: 20px;
  padding: 0;
  margin: 0;
  
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;

  color: white;
  }
  .describe p{
    position: absolute;
    left: 80px;
    top: 110px;
    line-height: 30px;
    color: white;
    font-size: 18px;
    padding: 20px;
  }
  .describe > p::before{
  content: "abcd";
   color: #00589D;

  }
  .line{
    background-image: url(../商城/asset/Line\ 6.svg);
    background-color: #15047C;
    background-repeat: no-repeat;
    position: absolute;
    width: 685px;
    height: 0px;
    left: 80px;
    top: 110px;

    border: 2px solid #15047C;
  }

    /* 普遍級 */
  div.aside2{
    /* border: 1px solid red; */
    position: absolute;
    right: 20px;
    top: 20px;
    width: 299px;
    height: 172px;
    color: white;
    background: #15047C;
    border-radius: 32px;
  }
  div.icon{
    background-image: url("../商城/asset/普遍級.jpeg");
    width: 111px;
    height: 111px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 46px;
    top: 15px;
  }


  /* 系統需求 */

 

 h1.title_des2 {
  position: absolute;
  left: 100px;
  top: 300px;
  padding: 0;
  margin: 0;
  
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 93px;
  align-items: center;
  text-align: center;

  color: white;
  }
  .line2{
    background-image: url(../商城/asset/Line\ 6.svg);
    background-color: #15047C;
    background-repeat: no-repeat;
    position: absolute;
    width: 685px;
    height: 0px;
    left: 80px;
    top: 400px;
    border: 5px solid #15047C;
  }
  div.des2{
    /* border:10px solid black; */
  
    height:500px;
    width: 1000px;
    position: absolute;
    top:450px;
    left: 90px;
    display: flex;
   }
div.des_left{
  /* border: 1px solid red; */
  margin-right: 30px;
  color: white;
  width: 500px;
  height: 500px;
  flex-shrink: 0;

}
div.des_right{
  /* border: 1px solid blue;  */
  flex-grow: 1;
  width: 900px;
  height: 500px;
  color: white;

}
/* 成就 */
div.aside3{
  /* border: 1px solid red; */
  position: absolute;
  right: 20px;
  top: 250px;
  width: 299px;
  height: 132px;
  color: white;
  background: #15047C;
  border-radius: 32px;
}

div.icon_block{
display: flex;
justify-content: space-around;
width: 300px;
position: absolute;
top:10px;
left: 10px;
}

div.icon_l{
  background-image: url("../商城/asset/-ap9GJpeqLW4QrujB-2.png");
  height: 68.93333435058594px;
  width: 94.63299560546875px;
  
  border-radius: 0px;
  
  background-repeat: no-repeat;
  background-size: cover;
  
}
div.icon_c{
  background-image: url("../商城/asset/-D9XHSRn2yVoeBgVZ-2.png");
  height: 68.93333435058594px;
  width: 94.63299560546875px;
  
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
div.icon_r{
  background-image: url("../商城/asset/-zGwp7SE2bWGOXhmC-2.png");
  height: 68.93333435058594px;
  width: 94.63299560546875px;
  
  border-radius: 0px;
  
  background-repeat: no-repeat;
  background-size: cover;

}
/* 語言 */
div.aside4{
  /* border: 1px solid red; */
  position: absolute;
  right: 20px;
  top: 470px;
  width: 299px;
  height: 300px;
  color: white;
  background: #15047C;
  border-radius: 32px;
}

table.lang{
  color:white;
  border-collapse :collapse;
  text-align: center;
  margin: 0 auto;
  Width :277.72px;
  Height :252px;
  font-size: 18px;
}

table.lang td{
  border:0px ;
  border-bottom:3px solid white;
  padding-right: 20px;
}
.aside4 > a{
  position: absolute;
  bottom: 20px;
  color: white;
  padding-left: 20px;

}

 section.comment{
  /* border: 10px solid black; */
  margin: 0 auto;

  width: 1440px;
  height: 1000px;
  position:absolute;
  top:2360px;
}
h1.title_com{
  position: absolute;
  left: 80px;
  top: 50px;

  

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 1074px;
  padding-left: 10px;
  background-color: #15047C;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto ;
  /* border: 1px solid black; */
  gap: 50px; 
  position: absolute;
  left: 80px;
  top: 250px;
  grid-auto-rows: 220px;
  grid-template-columns: 1074px ;
}
.grid-item {
  border: 1px solid black;
  font-size: 18px;
  color:white;
  text-align: start;
  background-color:#15047C;
  padding: 20px;
}


 .btn2 input{
   position: absolute;
   right: 110px;
   bottom: 160px;
  background: #D84618;
  border-radius: 30px;
  color: white;
  width: 323px;
  height: 109px;
  border-radius: 30px;

  
  /* 文字設定 */
  
  border: 3px solid #000000;
  font-family: Noto Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-text-stroke: 2px black;
  
  }

  
  h1.ifo{
    position: absolute;
    left: 640px;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 92px;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px black;
  
    text-align: center;
    color: #24FEFF;
    
    }
    h1.ifo{
      position: absolute;
      left: 640px;
      bottom: 0;
      margin: 30px ;
      font-style: normal;
      font-weight: bold;
      font-size: 68px;
      line-height: 92px;
      display: flex;
      align-items: center;
      -webkit-text-stroke: 2px black;
    
      text-align: center;
      color: #24FEFF;
      
      }
    footer{
      background-color: black;
      color: white;
      text-align: center;
      vertical-align: middle;
      padding: 20px;
      width: 1440px;
      margin: 0 auto;
      height: 200px;
    }
    section.footer_bg{
      /* border: 10px solid purple; */
      background: #E6FEE4;
      width:1440px;
      height: 150px;
      margin: 0 auto;
      position: absolute;
      bottom:0;
    }
    .social{
      background-image: url(../首頁/asset/images/Social\ Media.svg);
      background-repeat: no-repeat;
    
      position: absolute;
      width: 600px;
      height: 72px;
      right: 0;
      bottom: 0;
      margin: 35px;
     }
     .logo3{
      background-image: url(../首頁/asset/images/Logo/logo3.svg);
      background-repeat: no-repeat;
      width: 264px;
      height: 50px;
      margin: 0 auto;
    }