@import "./common/Header2.css";
body {
    font-family: 'Noto Sans TC', sans-serif;

}
div.BG{
  margin: 0 auto;
  width: 1440px;
  height: 5300px;
  background: rgba(0, 88, 157, 1);
/* border: 10px solid seagreen; */
}
div.frame{
  background-image: url("../首頁/asset/images/g-nav-frame-center.png");
  background-repeat: no-repeat;
  width:1440px;
  height: 55px;
  position:fixed;
  transform: translatex(-50%);
  background-size: contain;
  left: 50%;

}
 div.main_container{

  margin: 0 auto;
  position: relative;
  z-index: 2;
  max-width: 1440px;
  height: 5500px;
  /* border: 20px solid red; */

}
/* banner */
.banner_img{
  background-image: url("../首頁/asset/BG/1255561.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  top: 0;
  z-index: 5;
  position: absolute;
  width: 1440px;
  height: 1400px;
  top:170px;
}
.banner_logo{
  background-image: url("../首頁/asset/BG/Banner2.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  z-index: 1;

  position: absolute;
  width: 1440px;
  height: 941.76px;
  top: 0px;

}
/* content */
.btn input{
position: absolute;
left: 8.47%;
right: 52.29%;
top: 66.78%;
bottom: 15.56%;
background: #D84618;
border-radius: 30px;
color: white;
height: 166.3779296875px;
width: 561.1034545898438px;
left: 121.15863037109375px;
top: 628.8876953125px;
border-radius: 30px;
position: absolute;
left: 8.91%;
right: 54.06%;
top: 59.76%;
bottom: 19.94%;

/* 文字設定 */

border: 3px solid #000000;
font-family: Noto Sans;
font-size: 68px;
font-style: normal;
font-weight: 700;
line-height: 93px;
letter-spacing: 0em;
text-align: center;
-webkit-text-stroke: 2px black;

}
.main_container input:hover {
  position: absolute;
  height: 10px;
  left:10px;
  right: 10px;
  bottom: 0;
  background-color: #fff;
  transition: 5s;
}
/* news */
section.news{
  /* border: 1px solid red; */
  margin: 0 auto;
  position: absolute;
  /* background-color: black; */
  z-index: 5;
  width: 1440px;
  height: 674px;
  top: 1070px;
}
h1.title_news {
  position: absolute;
  width: 190px;
  height: 112px;
  left: 640px;
  top: 50px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 92px;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 2px black;

  text-align: center;
  color: #24FEFF;
  
  }
.bar{
  background-image: url("../首頁/asset/images/Bar1.png");
  background-repeat: no-repeat;
  position: absolute;
  width:1440px;
  height: 55px;


}
.bar1{
  background-image: url("../首頁/asset/images/Bar1.png");
  background-repeat: no-repeat;
  width:1440px;
  height: 55px;
  background-size: contain;
  position: absolute;
  bottom: 0;

}
div.event1{
  background-image: url("../首頁/asset/news/全新場景.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 11.94%;
  right: 51.39%;
  top: 30.88%;


  height: 299.7613830566406px;
  width: 527.9886474609375px;

  border-radius: 35px;

}
div.event2{
  background-image: url("../首頁/asset/news/更新內容.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 512.56px;
  height: 291px;
  
  opacity: 0.5;

  height: 291px;
  width: 512.5568237304688px;
  left: -411px;
  top: 30.88%;
  border-radius: 35px;

}
div.event3{
  background-image: url("../首頁/asset/news/SpeedRun.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 512.56px;
  height: 291px;
  
  opacity: 1;

  height: 291px;
  width: 512.5568237304688px;
  left: 768px;
  top: 30.88%;
  border-radius: 35px;

}
div.event4{
  background-image: url("../首頁/asset/news/鯊魚人.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 512.56px;
  height: 291px;
  opacity: 0.5;
  

  height: 291px;
  width: 512.5568237304688px;
  left: 1342px;
  top: 30.88%;
  border-radius: 35px;

}
/* story */
section.story{
  /* border: 1px solid red; */
  margin: 0 auto;
  background-color:rgba(230, 254, 228, 1);

  width: 1440px;
  height: 590px;
  
  position:absolute;
  height: 980px;
  top: 1720px;
}
p{
  color: white;
}
.bar2{
  background-image: url("../首頁/asset/images/Bar1.png");
  background-repeat: no-repeat;
  width:1440px;
  height: 55px;
  background-size: contain;
  z-index: 6;
  top: 0;
}
.bar3{
  background-image: url("../首頁/asset/images/Bar1.png");
  background-repeat: no-repeat;
  width:1440px;
  height: 55px;
  background-size: contain;
  position: absolute;
  bottom: 0;

}
h1.title_story {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 400px;
  height: 204px;
  
  
  
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-stroke: 2px black;

  color: #24FEFF;  
  }
  div.creator{ 
  background-image: url(../首頁/asset/story/Creator2.svg);
  height: 623px;
  width: 400px;

  position: absolute;
  left: 85px;
  top: 250px;

  }
  .grid-container {
    display: grid;
    grid-template-columns: auto ;
    /* border: 1px solid black; */
    gap: 50px; 
    position: absolute;
    left: 700px;
     top: 300px;
     grid-auto-rows: 150px;
     grid-template-columns: 700px ;
  }
  .grid-item {
    border: 1px solid black;
    font-size: 36px;
    text-align: center;
    border-radius: 35px;
    background-color:#BDCFFE;
    padding: 45px;
    }
 
 span{
  width: 436px;
  height: 49px;  
  font-weight: bold;
  font-size: 36px;
  /* identical to box height */
  
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  -webkit-text-stroke: 1px black;
  /* border: 2px solid #000000; */
  
 }
 section.about{
  border: 1px solid black;
  margin: 0 auto;

  width: 1440px;
  height: 600px;
  
  position:absolute;
  height: 978px;
  top: 2690px;
}
h1.title_about{
  position: absolute;
  right: 0;
  top: 0px;
  width: 400px;
  height: 204px;
  

  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-text-stroke: 2px black;

  color: #24FEFF;  
}

div.logo{
background-image: url("../首頁/asset/images/Logo/Logo2.svg");
background-repeat: no-repeat;
width: 651.45px;
height: 392px;
position: absolute;
top:320px;
left: 120px;
}
p.text{
position: absolute;
right: 0;
top: 350px;
width: 500px;
height: 264px;



font-weight: bold;
font-size: 36px;
display: flex;
align-items: center;

color: #FFFFFF;

-webkit-text-stroke: 2px black;

}
 .btn2 input{
   position: absolute;
   right: 110px;
   bottom: 150px;
  background: #D84618;
  border-radius: 30px;
  color: white;
  width: 323px;
  height: 109px;
  border-radius: 30px;

  
  /* 文字設定 */
  
  border: 3px solid #000000;
  font-family: Noto Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-text-stroke: 2px black;
  
  }

  section.store{
    /* border: 1px solid  white; */
    margin: 0 auto;
    background-color:rgba(230, 254, 228, 1);
    width: 1440px;
    height: 850px;

    position:absolute;
    top: 3600px;
  }
  .bar4{
    background-image: url("../首頁/asset/images/Bar1.png");
    background-repeat: no-repeat;
    width:1440px;
    height: 55px;
    background-size: contain;
    z-index: 6;
    top: 0;
  }
  div.game_logo{
background-image: url("../首頁/asset/images/GameLogo.png");
background-repeat: no-repeat;
width: 651.45px;
height: 392px;
position: absolute;
right: 60px;
top: 150px;

}
.btn3 input{
  position: absolute;
  right: 230px;
  bottom: 100px;
 background: #D84618;
 border-radius: 30px;
 color: white;
 width: 323px;
 height: 109px;
 border-radius: 30px;

 
 /* 文字設定 */
 
 border: 3px solid #000000;
 font-family: Noto Sans;
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: 93px;
 letter-spacing: 0em;
 text-align: center;
 -webkit-text-stroke: 2px black;
 
 }
p.text2{
  position: absolute;
  top:250px;
left: 120px;
  width: 500px;
  height: 264px;
  
  
  
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  
  -webkit-text-stroke: 2px black;
  
  }
  
  .bar5{
    background-image: url("../首頁/asset/images/Bar1.png");
    background-repeat: no-repeat;
    width:1440px;
    height: 55px;
    background-size: contain;
    position: absolute;
    top:0;
  
  }

  section.join{
    /* border: 10px solid plum; */
    margin: 0 auto;
    width: 1440px;
    height: 800px;
    
    position:absolute;
    top: 4400px;
  }
 
  .bar6{
    background-image: url("../首頁/asset/images/Bar1.png");
    background-repeat: no-repeat;
    width:1440px;
    height: 55px;
    background-size: contain;
    position: absolute;
    bottom: 0;
  
  }

  h1.title_store {
    position: absolute;
    left: 200px;
    top: 0px;
    width: 400px;
    height: 204px;
    
    
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    line-height: 93px;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 2px black;
  
    color: #24FEFF;  
    }

    h1.title_join {
      position: absolute;
      width: 190px;
      height: 112px;
      left: 640px;
      top: 50px;
      margin: 0 auto;
      font-style: normal;
      font-weight: bold;
      font-size: 68px;
      line-height: 92px;
      display: flex;
      align-items: center;
      -webkit-text-stroke: 2px black;
    
      text-align: center;
      color: #24FEFF;
      
      }
      p.text3 {
        background-color:#BDCFFE;
        border-radius: 30px;
        padding: 20px 5px ;
      position: absolute;
      left: 400px;
      top: 200px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 68px;
      margin: 0;
      color: #FFFFFF;
      -webkit-text-stroke: 2px black; 

      border: 2px solid #000000;
              
        }
        p.text4 {
        
          background-color:#BDCFFE;
          border-radius: 30px;
          padding: 20px 5px ;
          position: absolute;
          top: 400px;
          left: 400px;

          font-family: Noto Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 68px;
          margin: 0;
          color: #FFFFFF;
          -webkit-text-stroke: 2px black; 
    
          border: 2px solid #000000;
                  
            }
          
    section.footer_bg{
      /* border: 10px solid purple; */
      background: #E6FEE4;
      width:1440px;
      height: 300px;
      margin: 0 auto;
      position: absolute;
      bottom:0;
    }
    h1.ifo{
      position: absolute;
      left: 640px;
      top: 50px;
      margin: 0 auto;
      font-style: normal;
      font-weight: bold;
      font-size: 68px;
      line-height: 92px;
      display: flex;
      align-items: center;
      -webkit-text-stroke: 2px black;
    
      text-align: center;
      color: #24FEFF;
      
      }
    footer{
      background-color: black;
      color: white;
      text-align: center;
      vertical-align: middle;
      padding: 20px;
      width: 1440px;
      margin: 0 auto;
      height: 200px;
    }

  .logo3{
    background-image: url(../首頁/asset/images/Logo/logo3.svg);
    background-repeat: no-repeat;
    width: 264px;
    height: 50px;
    margin: 0 auto;
  }
 .social{
  background-image: url(../首頁/asset/images/Social\ Media.svg);
  background-repeat: no-repeat;

  position: absolute;
  width: 600px;
  height: 72px;
  left: 705px;
  bottom: 0;
 }