*{
  box-sizing: border-box;
}
body{
  margin: 0 ;
  font-family: Noto Sans;



}
ul a {
  display: block;
  text-decoration: none;
  color: black;
}

.header {
  width: 1440px;
  background-color:  rgba(21, 4, 124, 1);
  margin: 0 auto;
  /* border: 10px solid black; */
  position:fixed;
  transform: translatex(-50%);
  left: 50%;
  z-index: 3;


}

.header_menu {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  line-height: 60px;
  margin: 0 15px;
}
div.header_menu h1 img {
position: relative;
width: 186.13px;
height: 112px;
left: 103px;
top: 30px;
z-index: 3;

}
.nav_list {
  display: flex;
  position:relative;
  width: 905px;
  height: 78px;
  left:120px;

}

.nav_list li {
  position: relative;
  transition: .5s;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;

}

.nav_list li a {
  padding: 0 15px;
  line-height: 60px;
  color: #FFFFFF;

}
.nav_list li  i{
  padding: 0 15px;
  line-height: 60px;
  color: #FFFFFF;

}
.nav_list li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}

.nav_list li:hover {
  background-color: #b02914;
}

.nav_list li:hover::after {
  left: 0;
  right: 0;
}
