*{
  box-sizing: border-box;
}
body{
  margin: 0 ;
  font-family: Noto Sans;



}


ul a {
  display: block;
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  height: 140px;
  background-color:  rgba(21, 4, 124, 1);
  margin: 0 auto;
  /* border: 10px solid black; */
  position: fixed;
  z-index: 3;


}

.header_menu {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
}
div.header_menu h1 img {
width: 180px;
height: 118px;
padding-top: 20px;


}
.nav_list {
  display: flex;
  width: 928px;
  padding: 10px;

}

.nav_list li {
  position: relative;
  transition: .5s;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;

}

.nav_list li a {
  padding: 0 15px;
  color: #FFFFFF;

}

.nav_list li  i{
  padding: 20px;
  color: #FFFFFF;

}
.nav_list li::after {
  content: '';
  position: absolute;
  height: 4px;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #fff;
  transition: .5s;
}
.nav_list li:nth-child(2){
  padding: 0 20px;
}
.nav_list li:hover {
  background-color: #b02914;
}

.nav_list li:hover::after {
  left: 0;
  right: 0;
}


ul.submenu{
  margin: 0;
  padding: 0;
  background-color: black;

  
  /* 第二步 */
  display: none;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 72px;
  width: 150px;
  z-index: 50;
} 

ul.submenu-item> li
{
  list-style: none;
  width: 150px;
  
}
li:hover ul.submenu{
  display: block;


}
:root{
  background: rgba(0, 88, 157, 1);
}

.header__frame {
  position: absolute;
  bottom: -23px;
  left: 0;
  z-index: 10;
  display: block;
  height: 26px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__frame__side {
  height: 69.23076%;
  width: 100%;
  background: url("../Home/asset/images/frame/g-nav-frame-pt.png");
  background-repeat: repeat-x;
  background-position: left top;
  background-size: auto 100%;
}

.header__frame__center {
  width: 890px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url("/Home/asset/images/frame/g-nav-frame-center.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


